body {
	text-align: center;
	padding: 3em;
}

.btn {
	position: relative;
	background: rgb(146,39,143);
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	height: 64px;
	width: 64px;
	border: solid 0 rgb(146,39,143);
	box-shadow: 0 0 0 0 rgba(146,39,143,0.5);
	transition: all 350ms ease;
}

.btn:before, .btn:after {
	font-family: 'FontAwesome';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	color: #fff;
	font-size: 45px;
	background: transparent;
  transition: all 350ms ease;
	transform-origin: center center;
	transform: translate(-50%, -50%) scale(1,1) rotate(0);
}

.btn:before {
	content: '\f067';
}

.btn:after {
	content: '\f068';
	transform: translate(-50%, -50%) scale(0,0) rotate(-180deg);
}

.btn:hover,
.btn:focus
{
	background: rgb(198,113,196);
}

.btn:active {
	box-shadow: 0 0 0 10px rgba(146,39,143,0.5);
	background: rgb(146,39,143);
}

.btn:hover:before,
.btn:focus:before {
	transform: translate(-50%, -50%) scale(0,0) rotate(108deg);
}

.btn:hover:after,
.btn:focus:after {
	transform: translate(-50%, -50%) scale(1,1) rotate(0);
}
